### Node ###
# Logs
restful/logs
restful/*.log
restful/npm-debug.log*


# Runtime data
restful/pids
restful/*.pid
restful/*.seed
restful/*.pid.lock


# Dependency directories
restful/node_modules/

# dotenv environment variables file
restful/.env
restful/.env.test

# idea configs
.idea/
